<!doctype html>
<html ng-app="AnyGap">
<!-- https://atom.io/packages/atom-html-preview -->
<head>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"> </script>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-resource.min.js"></script>-->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/> -->

  <script src="./src/assets/js/angular.js"></script>
  <script src="./src/assets/js/angular-route.js"></script>
  <!--<script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>-->
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script type="text/javascript" src="src/app/appUiRoute.js"></script>
  <script type="text/javascript" src="src/assets/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="src/assets/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="src/assets/css/app.css"/>


  <style>
  #chartdiv {
    width: 100%;
    height: 500px;
  }
  </style>

  <!-- Resources -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

  <title>AnyGapUIRoute - AngularJS 리뷰</title>
</head>
<body>
  <div class="page-header">
    <h1>Welcome</h1>
    <a ui-sref="graph" ui-sref-active="active" ui-sref-opts="{reload: true, notify: true}">graph</a>
    <a ui-sref="story" ui-sref-active="active" ui-sref-opts="{reload: true, notify: true}">story</a>
    <div ui-view class='container'>

    </div>
  </div>
  <!-- <div ng-controller="MainCtrl as main">
      <div class="col-md-4">
          <h2>Stories</h2>
          <story class="callout" ng-repeat="story in main.stories" ng-click="main.setCurrentStory(story)">
            <h4>{{story.title}}</h4>
            <p>{{story.description}}</p>
          </story>
          <div>
            <a class="btn btn-primary" ng-click="main.createStory()">
              <span class="glyphicon glyphicon-plus">  </span>
            </a>
          </div>
      </div>
  </div> -->
</body>
</html>
